.app-bg-color-1 {background-color: $app-color-1;}
.app-bg-color-2 {background-color: $app-color-2;}
.app-bg-color-3 {background-color: $app-color-3;}
.app-bg-color-4 {background-color: $app-color-4;}
.app-bg-color-5 {background-color: $app-color-5;}
.app-bg-color-6 {background-color: $app-color-6;}
.app-bg-color-7 {background-color: $app-color-7;}

.app-color-1 {color: $app-color-1;}
.app-color-2 {color: $app-color-2;}
.app-color-3 {color: $app-color-3;}
.app-color-4 {color: $app-color-4;}
.app-color-5 {color: $app-color-5;}
.app-color-6 {color: $app-color-6;}
.app-color-7 {color: $app-color-7;}

.app-bg-black {background-color: $app-black;}
.app-bg-grey-1 {background-color: $app-grey-1;}
.app-bg-grey-2 {background-color: $app-grey-2;}
.app-bg-grey-3 {background-color: $app-grey-3;}
.app-bg-grey-4 {background-color: $app-grey-4;}
.app-bg-grey-5 {background-color: $app-grey-5;}
.app-bg-grey-6 {background-color: $app-grey-6;}
.app-bg-grey-7 {background-color: $app-grey-7;}
.app-bg-grey-8 {background-color: $app-grey-8;}
.app-bg-white {background-color: $app-white;}

.app-black {color: $app-black;}
.app-grey-1 {color: $app-grey-1;}
.app-grey-2 {color: $app-grey-2;}
.app-grey-3 {color: $app-grey-3;}
.app-grey-4 {color: $app-grey-4;}
.app-grey-5 {color: $app-grey-5;}
.app-grey-6 {color: $app-grey-6;}
.app-grey-7 {color: $app-grey-7;}
.app-grey-8 {color: $app-grey-8;}
.app-white {color: $app-white;}

.app-bg-orange-1 {background-color: $app-orange-1;}
.app-bg-orange-2 {background-color: $app-orange-2;}
.app-bg-orange-3 {background-color: $app-orange-3;}

.app-orange-1 {color: $app-orange-1;}
.app-orange-2 {color: $app-orange-2;}
.app-orange-3 {color: $app-orange-3;}

/*@include app-text-and-bg("primary", $app-primary);

$theme-colors: (
  "app-primary": $app-primary
);

@for $i from 1 through 11 {

  $primary-darker: theme-color-level("app-primary", $i);
  $primary-lighter: theme-color-level("app-primary", -$i);

  @include app-text-and-bg("primary-darker-" + $i, $primary-darker);
  @include app-text-and-bg("primary-lighter-" + $i, $primary-lighter);
}*/

$app-dark-color-1: #131a22;
$app-dark-color-2: #232f3e;
$app-dark-color-3: #37475a;
$app-dark-colors: (
  dark-1: $app-dark-color-1,
  dark-2: $app-dark-color-2,
  dark-3: $app-dark-color-3,
);

$app-blue-color-1: #004B91;
$app-blue-color-2: #0055aa;
$app-blue-color-3: #0066c0;
$app-blue-color-4: #247bbd;
$app-blue-color-5: #48a3c6;
$app-blue-colors: (
  blue-1: $app-blue-color-1,
  blue-2: $app-blue-color-2,
  blue-3: $app-blue-color-3,
  blue-4: $app-blue-color-4,
  blue-5: $app-blue-color-5,
);

$app-colors: map_merge($app-dark-colors, $app-blue-colors);

@each $name, $color in $app-colors {
  @include app-text-and-bg($name, $color);
}
